# Paper's files
*.pages
*.pdf
*.word

# History files
.Rhistory
.Rapp.history
.DS_Store

# Local only folder
/ignore-folder/

.ipynb_checkpoints
.virtual_documents
/data/_ignore/

/conda-env/
requirements*

__pycache__

# jetbrains
.idea/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
