// Breakpoints
// $large-breakpoint: 64em !default;
// $medium-breakpoint: 42em !default;

$large-breakpoint: 125em !default;
$medium-breakpoint: 45em !default;

// Headers
$header-heading-color: #FBFBFB !default;
$header-bg-color: #004D44 !default;
$header-bg-color-secondary: #10786c !default;

// Text
$section-headings-color: #004D44 !default;
$body-text-color: #444444 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
